body {
	text-align: center;
	padding-top: 50px;
}

#content_wrapper {
	
	width: 1000px;
	padding: 100px;
	display: inline-block;
	background-color: #ccc;
	border: 1px solid #ddd;
}

#caption {
	text-align: left;
	padding: 10px;
	width: 982px;
	display: inline-block;
	background-color: #eee;
}

#content {
	width: 1000px;
	display: inline-block;
	background-color: #eee;
}

.content_block {
	width: 800px;
	padding: 50px;
	display: inline-block;
}

.letter_frame {
  width: 30px; 
  height: 50px; 
  border: 1px solid #eee;
  margin: 4px;
  float: left;
  display: inline-block;
  background-color: #ccc;
}	  

#image_frame {
	text-align: left;
}

.letter_block {
  width: 28px; 
  height: 48px; 
  border: 1px solid #ccc;
  margin: 0px;
  float: left;
  display: inline-block;
  background-color: green;
  color: #ccc;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
 vertical-align: middle;
}	  