<div class="content_block">
	<div id="image_frame" style="float: left; display: inline-block; width: 220px;"> 
		<img id="image_to_word" src="img/sample.jpg" alt="Mountain View" style="width:160px;height:160px;">
	</div>
	<div id="word_frame" style="float: left; display: inline-block; width: 500px;">
	<div id="letters_frame" style="width: 600px; height: 80px;">&nbsp;</div>
		<div id="input_frame" style="width: 600px; height: 80px;">&nbsp;</div>  			
	</div>
	<br/><br/><br/><br/>
	<input id="task_check_button" type="button" value="Проверить">
</div>	
